.About {
    max-width: 90vw;
}
.computerScreen {
    color: #0A97B0;
    background-color: #0A5EB0;
}

.computerLight
{
    animation: blinking 3s infinite;
}

.computerLine {
    text-align: left;
    font-family: 'Courier', monospace, serif;
    color: #0A97B0;
    font-size: calc(7px + 1vmin);
    margin: -0.1rem;
}

@keyframes blinking
{
    from, to { background-color: #0A97B0; }
    5% { background-color: black; }
}

.About {
    display: flex;
    margin-top: 5vh;
    align-items: flex-end;
    justify-content: flex-end;
}

.logoLanguage {
    display: grid;
}

.informations {
    display: grid;
    font-size: calc(7px + 1vmin);
    margin-left: 1rem;
    max-width: 35vw;
}

.informationItem {
    font-family: 'Courier', monospace, serif;
}