html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #213555;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5vh;
}

.titleItem {
  display: grid;
  grid-template-columns: 1 9;
  column-gap: 0.1em;
  justify-content: left;
  align-items: center;
  margin-bottom: -0.5em;
}

.title {
  color: white;
  font-size: calc(7px + 1.5vmin);
  grid-column: 9;
  align-items: flex-start;
  white-space: nowrap;
}

.square {
  background-color: #729762;
  height: calc(7px + 1vmin);
  width: calc(7px + 1vmin);
  grid-column: 1;
}

.subSquare {
  background-color: #597445;
  height: calc(7px + 1vmin);
  width: calc(7px + 1vmin);
  grid-column: 1;
}

.description {
  color: white;
  font-size: calc(7px + 1vmin);
  grid-column: 9;
  max-width: 30em;
  text-align: left;
  margin-left: 2.5em;
  display: grid;
  grid-template-columns: 1 9;
  column-gap: 0.1em;
  justify-content: left;
  align-items: flex-start;
}

.point {
  color: white;
  font-size: calc(7px + 1vmin);
  grid-column: 9;
  align-items: flex-start;
  justify-content: center;
  margin: 0.7em;
  transition: all 1s ease-out;
}

.invisible {
  display: none;
}

.label {
  color: #729762;
  border: 0.1em solid #729762;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
}

.text {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -1.75em;
  margin-bottom: 1em;
}

.subText {
  margin-bottom: -1em;
}

button {
  border: none;
  font-size: calc(7px + 1vmin);
  font-family: 'Courier', monospace, serif;
  font-weight: bold;
}

.clickedButton {
  background-color: #597445;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1em;
  max-width: 20em;
  margin-top: 0.75em;
}

.tag {
  color: #729762;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(7px + 1vmin);
  font-family: 'Courier', monospace, serif;
  margin-bottom: 0.75em;
  padding: 0.25em;
}

.listItem {
  margin-bottom: 1em;

}

.section {
  margin-top: 0.1em;
}

.gitButton {
  margin-top: 0.5em;
}